@import '/node_modules/flag-icons/css/flag-icons.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}


@layer base {
	h1 {
		@apply mb-6;
	}

	section .container:not(.grid) {
		@apply space-y-4;
	}
}